<!DOCTYPE html>
<html>
<head>
  <title>PyGet - Test</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.1.8/semantic.min.css">
</head>
<body>

  <h1 class="ui center aligned header" style="margin-top: 1em;">PyGet - The pure python file downloader</h1>

  <div class="ui container">
    <h3 class="ui aligned header">Active Downloads</h3>
    <button class="ui right floated circular icon blue button">
      <i class="icon settings large"></i>
    </button>
    <button class="ui right floated circular icon green button">
      <i class="icon plus large"></i>
    </button>

    <div class="ui container">
      <div class="ui relaxed items">

        <div class="item">

          <i class="big circular file outline icon"></i>

          <div class="content">

            <div class="header">
              {{file name}}
            </div>

            <div class="meta">
              <a>{{Date}}</a>
              <a href="#">{{short URL}}</a>
            </div>

            <div class="description">
              <div class="ui indicating progress" id="trans1">
                <div class="bar">
                  <div class="progress"></div>
                </div>
              </div>
            </div>

            <div class="extra">

              <button class="ui right floated circular icon red button">
                <i class="icon minus"></i>
              </button>
              <div class="ui icon right floated buttons">
                <button class="ui button">
                  <i class="play icon"></i>
                </button>
                <div class="or"></div>
                <button class="ui button">
                  <i class="pause icon"></i>
                </button>
              </div>

              <div class="ui label">
                <i class="disk outline icon"></i>
                {{file size}}
              </div>
              <div class="ui label">
                <i class="chevron up icon"></i>
                {{average speed}}
              </div>

            </div>

          </div>
        </div>
        <div class="item">

          <i class="big circular file outline icon"></i>

          <div class="content">

            <div class="header">
              {{file name}}
            </div>

            <div class="meta">
              <a>{{Date}}</a>
              <a href="#">{{short URL}}</a>
            </div>

            <div class="description">
              <div class="ui indicating progress" id="trans2">
                <div class="bar">
                  <div class="progress"></div>
                </div>
              </div>
            </div>

            <div class="extra">

              <button class="ui right floated circular icon red button">
                <i class="icon minus"></i>
              </button>
              <div class="ui icon right floated buttons">
                <button class="ui button">
                  <i class="play icon"></i>
                </button>
                <div class="or"></div>
                <button class="ui button">
                  <i class="pause icon"></i>
                </button>
              </div>

              <div class="ui label">
                <i class="disk outline icon"></i>
                {{file size}}
              </div>
              <div class="ui label">
                <i class="chevron up icon"></i>
                {{average speed}}
              </div>

            </div>

          </div>
        </div>
        <div class="item">

          <i class="big circular file outline icon"></i>

          <div class="content">

            <div class="header">
              {{file name}}
            </div>

            <div class="meta">
              <a>{{Date}}</a>
              <a href="#">{{short URL}}</a>
            </div>

            <div class="description">
              <div class="ui indicating progress" id="trans3">
                <div class="bar">
                  <div class="progress"></div>
                </div>
              </div>
            </div>

            <div class="extra">

              <button class="ui right floated circular icon red button">
                <i class="icon minus"></i>
              </button>
              <div class="ui icon right floated buttons">
                <button class="ui button">
                  <i class="play icon"></i>
                </button>
                <div class="or"></div>
                <button class="ui button">
                  <i class="pause icon"></i>
                </button>
              </div>

              <div class="ui label">
                <i class="disk outline icon"></i>
                {{file size}}
              </div>
              <div class="ui label">
                <i class="chevron up icon"></i>
                {{average speed}}
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.1.8/semantic.min.js"></script>
  <script src="http://cdn.jsdelivr.net/vue/1.0.21/vue.min.js"></script>
  <script type="text/javascript">
    $('#trans1').progress({
      percent: 25
    });$('#trans2').progress({
      percent: 68
    });$('#trans3').progress({
      percent: 89
    });
  </script>

</body>
</html>
