<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>PyGet - Test</title>
  <meta name="description" content="PyGet - The Python File Downloader">

  <link rel="stylesheet" href="css/semantic.min.css">
</head>
<body>

  <h1 class="ui center aligned header" style="margin-top: 1em;">PyGet - The python file downloader</h1>

  <div class="ui container">
    <a href="#" class="ui right floated circular icon blue basic button">
      <i class="icon settings"></i>
    </a>
    <a href="/add" class="ui right floated circular icon green basic button">
      <i class="icon plus"></i>
    </a>

    <div class="ui container">
      <div class="ui relaxed items" id="xferList">
        <h3 class="ui header"> Active Transfers</h3>
        <div class="item" v-model="activeXfers" v-for="xfer in activeXfers" track-by="uid">
          <i class="big olive file outline icon"></i>

          <div class="content">
            <div class="header">
              {{xfer.fileName}}
            </div>

            <div class="meta">
              <a href="{{xfer.url}}">{{xfer.url}}</a>
            </div>

            <div class="description">
              <div class="ui tiny indicating progress" data-percent="{{xfer.percentDone}}">
                <div class="bar">
                </div>
              </div>
            </div>

            <div class="extra">
              <button @click="removeXfer(xfer.uid)" class="ui mini right floated circular icon red basic button">
                <i class="icon minus"></i>
              </button>
              <div class="ui mini icon right floated basic buttons">
                <button @click="resumeXfer(xfer.uid)" class="ui button">
                  <i class="play icon"></i>
                </button>
                <button @click="pauseXfer(xfer.uid)" class="ui button">
                  <i class="pause icon"></i>
                </button>
              </div>

              <div class="ui label">
                <i class="disk outline icon"></i>
                {{xfer.totalSize | formatBytes}}
              </div>
              <div class="ui label">
                <i class="chevron up icon"></i>
                {{xfer.avgSpeed | formatBytes}}/s
              </div>
            </div>
          </div>
        </div>

        <h3 class="ui header"> Pending Transfers</h3>
        <div class="item" v-model="pendingXfers" v-for="xfer in pendingXfers" track-by="uid">
          <i class="big yellow file outline icon"></i>

          <div class="content">
            <div class="header">
              {{xfer.fileName}}
            </div>

            <button @click="removeXfer(xfer.uid)" class="ui mini right floated circular icon red basic button">
              <i class="icon minus"></i>
            </button>

            <div class="meta">
              <a href="{{xfer.url}}">{{xfer.url}}</a>
            </div>

            <div class="description">
            </div>
          </div>
        </div>

        <h3 class="ui header"> Completed Transfers</h3>
        <div class="item" v-model="doneXfers" v-for="xfer in doneXfers" track-by="uid">
          <i class="big red file outline icon"></i>

          <div class="content">
            <div class="header">
              {{xfer.fileName}}
            </div>

            <button @click="removeDoneXfer(xfer.uid)" class="ui mini right floated circular icon red basic button">
              <i class="icon minus"></i>
            </button>

            <div class="meta">
              <a href="{{xfer.url}}">{{xfer.url}}</a>
            </div>

            <div class="description">
              <div v-if="xfer.mode === 'success'">
                <i class="green smile icon"></i>
                Download completed without errors.
              </div>
              <div v-else>
                <i class="red frown icon"></i>
                Something went wrong. Error {{xfer.error.errNo}}: {{xfer.error.errMsg}}
              </div>
            </div>

            <div class="extra">
              <div v-if="xfer.mode === 'success'" class="ui label">
                <i class="disk outline icon"></i>
                {{xfer.totalSize | formatBytes}}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="js/jquery-2.2.3.min.js" ></script>
  <script src="js/semantic.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
